/* CSS Document */
.dc_bottom{margin:0 auto;border-left:1px solid #aac1ad;border-right:1px solid #aac1ad
;background:url(../image/dc_botbg01.gif) repeat-x;color:#5f5959;text-align:right;font-size:14px;height:31px;width:1000px;padding-right:24px;line-height:31px;color:#fffeff}
