
/* 鐢宠鐮旇褰撳墠浣嶇疆 */
.dc_discontent{height:auto;width:100%;padding-bottom:20px;}
.dc_curt_1{width:1024px;margin:0 auto;background:url(../image/dis_curbg.gif);}
.dc_curt_2{width:1024px;margin:0 auto;margin-bottom:43px;color:#201c1d;font-size:12px;height:33px;line-height:33px;padding-left:19px;}
/* 鐢宠鐮旇琛ㄦ牸缃�*/
.tab_em_title{margin:0 auto;margin-bottom:1px;display:block;width:694px;height:32px;line-height:32px;background:url(../image/dis_01.gif);border:1px solid #d4cac9;border-radius:8px 8px 0px 0px;-moz-border-radius:8px 8px 0px 0px;-webkit-border-radius:8px;text-align:center;}
.tab_em{margin:0 auto;width:694px;border-right:1px solid #d4cac9;border-bottom:1px solid #d4cac9}
.tab_em tr{height:29px;width:40%;text-align:center;}
.tab_em .first_tr{font-weight:bold;color:#5c5c5e}
.tab_em td{border-left:1px solid #d4cac9;border-top:1px solid #d4cac9}
.btn_sq{background:#dcdcdc;width:58px;height:20px;line-height:20px; vertical-align:middle;padding-bottom:6px;border:1px solid #dcdcdc;cursor:pointer}
.btn_sq:hover{background:#3c3c3c;color:#fff}
.em_paging{height:29px;width:694px;margin:0 auto;margin-top:100px;font-size:14px;}
.em_paging a{margin:0px 15px;font-size:14px;}
.em_paging a:visited{color:#000;}