/* CSS Document */
/*banner*/
body{background:#f0f0f0;}
.dc_banner_div1{width:1024px;margin:0 auto;border-left:1px solid #aac1ad;border-right:1px solid #aac1ad
}
.content_index{width:830px;margin:0 auto;}
.content_index_div1{text-align:center; margin-top:60px;width:380px;height:80px;background:url(../image/in_01.gif) no-repeat;font-size:17px;}
.content_index_div1 span{color:#fff;display:block;margin:20px 0px 0px 100px;width:180px;text-align:left;}
.content_index_div2{text-align:center;margin-top:60px; width:380px;height:80px;background:url(../image/in_03.gif) no-repeat;font-size:17px;}
.content_index_div2 span{color:#584F4F;display:block;margin:16px 0px 0px 100px;width:180px;text-align:left;}
.content_index_div3{text-align:center; margin-top:60px;width:380px;height:80px;background:url(../image/in_02.gif) no-repeat;font-size:17px;}
.content_index_div3 span{color:#584F4F;display:block;margin:20px 0px 0px 100px;width:180px;text-align:left;}
.content_index_div4{text-align:center;margin-top:60px; width:380px;height:80px;background:url(../image/in_04.gif) no-repeat;font-size:17px;}
.content_index_div4 span{color:#584F4F;display:block;margin:16px 0px 0px 100px;width:180px;text-align:left;}


